[submodule "profiling/5dchess-notation"]
	path = profiling/5dchess-notation
	url = https://github.com/adri326/5dchess-notation
[submodule "tests/5dchess-notation"]
	path = tests/5dchess-notation
	url = https://github.com/adri326/5dchess-notation
